.color {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  
  
  .pixel {
    border:  black solid 1px ;
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  
  .line {
    margin-bottom: -4px;
  }
  
  #clear-board{
    margin: 5px;
    width: 70px;
    display: inline-block;
  }
  
  #board-size{
    display: inline-block;
    width: 70px;
  }
  
  #generate-board{
    display: inline-block;
    margin: 8px;
    width: 70px;
  }
  
  body{
    align-items: center;
  } 